.separator {
  background-color: #3a3a3a;
  border: none;
  flex-shrink: 0;
}

.horizontal {
  width: 100%;
  height: 1px;
  margin: 8px 0;
}

.vertical {
  width: 1px;
  height: auto;
  align-self: stretch;
  margin: 0 8px;
}
